table {
    width: 100%;
    border-collapse: collapse;
    clear: both;
    margin-bottom: 16px;
}
tr {
    background-color: rgba(255, 255, 255, 0.5);
}
th {
    background-color: #D8CFB6;
    border: 1px solid #E4DECE;
    padding: 0.25em 0.625em;
    text-align: left;
    font-weight: normal;
}
td {
    border: 1px solid #E4E5DE;
    padding: 0.625em;
    vertical-align: top;
}
