@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Cabin:400,700,400italic,700italic');


div#contribution-type-form div.inputs {
	width: 60%;
	
}

div#location_form {
	margin-top: 12px;
}

/* User Profiles integration */

h2.contribution-userprofile  {
	margin-bottom: 3px;
}

.contribution-userprofile-visibility {
	cursor: pointer;
}

p#contribution-userprofile-visibility {
	margin: 2px;
}

div.contribution-userprofile.exists {
	display: none;
}

.field {
	clear: both;
}
.field label {
    clear: left;
    font-weight: bold;
    float: left;
    line-height: 1.5em;
    margin: 0px 0px 10px;
    min-width: 120px;
}
label {
	padding-top: 0;
}
#content .inputs {
		clear: none !important;
    margin: 0px 0px 20px;
}
.inputs input[type="text"], .inputs input[type="password"], .inputs textarea {
    width: 100%;
    box-sizing: border-box;
}
input[type="text"], input[type="password"] {
    height: 30px;
    border: 1px solid #D8D8D8;
    border-radius: 0px;
    box-shadow: 0px 0px 0.375em #D6D6D6 inset;
    box-sizing: border-box;
    color: #666;
    line-height: 20px;
    margin: 0px 0px 10px;
    padding: 5px 10px;
}
textarea {
    width: 100%;
    border: 1px solid #D8D8D8;
    overflow: auto;
    border-radius: 0px;
    box-shadow: 0px 0px 0.375em #D6D6D6 inset;
    box-sizing: border-box;
    color: #666;
    padding: 5px 10px;
}
input, select, textarea, button, a.button {
    font-family: inherit;
    font-size: 100%;
}
.explanation {
    clear: both;
    margin: 0px 0px 10px;
}
.inputs .input-block {
    margin: 0px 0px 20px;
    float: left;
}
fieldset {
	color: #4C3939;
	font-family: "Cabin",sans-serif;
	font-size: 14px;
}
#contribution-type-form p {
    clear: both;
}
