@media screen and (min-width: 1070px) {
section#top {
    background: url('http://agencia.consumoresponsavel.org.br/wp-content/themes/oldpaper_child/../../uploads/2014/10/logo_top.png') no-repeat scroll 125px 5px #153D35;
    color: #FFF;
    height: 40px;
    /*position: fixed;*/
    position: absolute;
    z-index: 100;
    width: 100%;
}
section#top #topmenu {
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 0.8;
    text-transform: uppercase;
    padding-left: 310px;
}

}

@media screen and (min-width: 825px) and (max-width: 1069px){
section#top {
    background: url('http://agencia.consumoresponsavel.org.br/wp-content/themes/oldpaper_child/../../uploads/2014/10/logo_top.png') no-repeat scroll 10px 5px #153D35;
    color: #FFF;
    height: 40px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
section#top #topmenu {
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 0.8;
    text-transform: uppercase;
    padding-left: 110px;
}
}

.nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: outside none none;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 12.5px;
}

.nav-pills > li {
    float: left;
}
.nav > li {
    position: relative;
    display: block;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 12px 13px;
    color: white !important;
}

.nav > .current_page_item > a, .nav a:hover{
    color: #7cd773 !important;
}

.col-lg-2 {
    width: 16.6667%;
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
}
.col-md-2 {
    width: 16.6667%;
}
.col-md-2{
    float: left;
    line-height: 0;
}
.col-sm-12{
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.fa-rss:before {
    content: "";
}
.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -15%;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}
.fa-facebook:before {
    content: "";
}
.fa-twitter:before {
    content: "";
}
@media screen and (min-width: 700px) and (max-width: 824px){
section#top {
    background: url('http://agencia.consumoresponsavel.org.br/wp-content/themes/oldpaper_child/../../uploads/2014/10/logo_top.png') no-repeat scroll 10px 5px #153D35;
    color: #FFF;
    height: 40px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
section#top #topmenu {
    font-family: "Yanone Kaffeesatz",sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 0.8;
    text-transform: uppercase;
    padding-left: 110px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 12px 5px;
    color: white !important;
}
}
